* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: slategrey;
}

.container {
    background:#ffffff;
    width: 100%;
    max-width: 500px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}


.summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.summary div {
    text-align: center;
    width: 30%;
    font-weight: 600;
}

.summary p {
    font-weight: bold;
    margin-top: 5px;
}


.form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.type {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

button {
    width: 48%;
    padding: 8px;
    margin-top: 5px;
    cursor: pointer;
}

#add-btn {
    background: #4CAF50;
    color: #fff;
    border: none;
}

#reset-btn {
    background: #f44336;
    color: #fff;
    border: none;
}


.filters {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    gap: 20px;
    margin: 20px;
    margin-bottom: 20px;

}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 6px;
  font-weight: 500;
}

li.income {
  background-color: #e6f7ec;
  color: #1e7f3f;
  border-left: 5px solid #1e7f3f;
}

li.expense {
  background-color: #fdecea;
  color: #b71c1c;
  border-left: 5px solid #b71c1c;
}


ul {
    list-style: none;
}


.actions button {
    margin-left: 5px;
    padding: 3px 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.actions button:first-child {
  background: #1976d2;
  color: white;
}

.actions button:last-child {
  background: #d32f2f;
  color: white;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}


